@layer base {
  html,
  body {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    @apply antialiased;
  }

  h1 {
    @apply text-4xl font-bold leading-tight;
  }

  h2 {
    @apply text-3xl font-bold leading-tight;
  }

  h3 {
    @apply text-2xl font-semibold leading-snug;
  }

  h4 {
    @apply text-xl font-semibold leading-snug;
  }

  h5 {
    @apply text-lg font-medium;
  }

  h6 {
    @apply text-base font-medium;
  }

  p {
    @apply text-base leading-relaxed;
  }
}
