@import "tailwindcss";

@layer base {
  html,
  body {
    background-color: white;
    
    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
      background-color: rgb(3 7 18);
    }
  }
}
